.tarjeta.skeleton {
  pointer-events: none;
}

.tarjeta.skeleton .imagen,
.tarjeta.skeleton .contenido h3,
.tarjeta.skeleton .descripcion,
.tarjeta.skeleton .precio,
.tarjeta.skeleton .btn-comprar {
  background: linear-gradient(
    90deg,
    #eee 25%,
    #f5f5f5 37%,
    #eee 63%
  );
  background-size: 400% 100%;
  animation: shimmer 1.4s ease infinite;
  color: transparent;
  border-radius: 8px;
}

.tarjeta.skeleton .imagen{
  height: 300px;
}

.tarjeta.skeleton h3 {
  height: 18px;
  margin-bottom: 8px;
}

.tarjeta.skeleton .descripcion{
  height: 14px;
  margin-bottom: 6px;
}

.tarjeta.skeleton .precio{
  height: 20px;
  width: 40%;
  margin-bottom: 10px;
}

.tarjeta.skeleton .btn-comprar{
  height: 40px;
}

.tarjeta {
  width: 100%;
  max-width: 420px;
  margin: 16px auto;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.imagen img {
  width: 100%;
  display: block;
}

.contenido {
  padding: 12px;
}

.contenido h3 {
  margin: 0;
  font-size: 1.1rem;
}

.descripcion {
  font-size: 0.9rem;
  color: #555;
  margin: 6px 0;
}

.precio {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0;
}

.btn-comprar {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn-comprar.animar {
  animation: bounce 0.4s;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@keyframes bounce {
  0% {transform: scale(1);}
  30% {transform: scale(1.1);}
  60% {transform: scale(0.95);}
  100% {transform: scale(1);}

}
