<div class="tarjeta" [class.skeleton] = "skeleton">

  <div class="imagen">
    @if (!skeleton) {
      <img #imagenProducto [src]="producto.imagenUrl || 'http://picsum.photos/400/400'" alt="Producto"/>
    }

  </div>

  <div class="contenido">
    @if (!skeleton) {
    <h3>{{ producto.nombre }}</h3>

    @if (producto.descripcion) {
      <p class="descripcion">{{ producto.descripcion }}</p>
    }

    <!--<div class="precio">{{producto.precio }}€</div>-->

    <button class="btn-comprar" [class.animar] = "animando" (click)="aniadirACesta()">Añadir · {{ producto.precio }}€</button>
    }
  </div>
</div>
