form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  margin-top: 16px;
  padding: 12px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
}

.error {
  color: red;
  font-size: 12px;
}
