<h1>Finalizar compra</h1>

<!-- ESTADO 1: DIRECCIÓN -->
 @if (step === 'direccion') {
<div>

  <h2>Dirección de envío</h2>

  <form [formGroup]="formularioEnvio">

    <input formControlName="nombre" placeholder="Nombre">
    <input formControlName="apellidos" placeholder="Apellidos">
    <input formControlName="direccion" placeholder="Dirección">
    <input formControlName="ciudad" placeholder="Ciudad">
    <input formControlName="codigoPostal" placeholder="Código postal">
    <input formControlName="telefono" placeholder="Teléfono">

  </form>
  <h3>Resumen</h3>
  @for (item of items; track item.product.id) {
  <div>
    {{ item.product.nombre }} x {{ item.quantity }}
  </div>
  }
  <p><strong>Total:</strong> {{ total | currency:'EUR' }}</p>

  <button (click)="continuar()">Continuar</button>

</div>
 }

<!-- ESTADO 2: CONFIRMACIÓN -->
 @if (step === 'confirmacion') {
<div>

  <h2>Confirmar pedido</h2>

  <p><strong>Dirección:</strong></p>
  <p>
    {{ direccionConfirmada.nombre }} {{ direccionConfirmada.apellidos }}<br>
    {{ direccionConfirmada.direccion }}<br>
    {{ direccionConfirmada.ciudad }} ({{ direccionConfirmada.codigoPostal }})<br>
    Tel: {{ direccionConfirmada.telefono }}
  </p>

  <h3>Productos</h3>
  @for (item of items; track item.product.id) {
  <div>
    {{ item.product.nombre }} x {{ item.quantity }}
  </div>
  }
  <p><strong>Total:</strong> {{ total | currency:'EUR' }}</p>

  <button (click)="step = 'direccion'">Volver</button>
  <hr>
  <button (click)="confirmarCompra()" [disabled]="cargando" class="btn-principal">
    {{ cargando ? 'Procesando...' : 'Confirmar compra' }}
  </button>
  @if (error) {
  <p class="error-box">{{ error }}</p>
  }
</div>
}
