.navbar {
  padding: 10px;
  background: #eee;
  display: flex;
  gap: 10px;
}

.cesta {
  position: relative;
}

.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  position: absolute;
  top: -6px;
  right: -10px;
}
