<div class="overlay" (click)="cerrarPanel()"></div>

<div class="panel">
  <h4>Tu cesta</h4>

  @if (items.length === 0) {
    <p>La cesta está vacía</p>
  } @else {

    @for (item of items; track item.product.id) {
      <div class="item">
        <span>{{ item.product.nombre }}</span>
        <span>{{ item.quantity }}</span>
      </div>
    }

    <hr>

    <p class="total">Total: <strong>{{ total }}€</strong></p>

    <a routerLink = "/cesta" (click)="cerrarPanel()">Ver cesta</a>
    <br>
    <br>
    <a routerLink = "/checkout" (click)="cerrarPanel()">Finalizar compra</a>
  }
</div>
